.gallery__column--reverse {
  flex-direction: row-reverse;
}
.gallery__column--reverse .gallery__top-img--first {
  max-width: 32.5rem;
}
.gallery__column--reverse .gallery__card {
  max-width: 100%;
  position: relative;
}
.gallery__column--reverse .gallery__card img {
  position: absolute;
  inset: 0;
  opacity: 0.04;
}
@media (max-width: 1240px) {
  .gallery__column--reverse {
    flex-direction: column;
  }
}

.about__column-company {
  padding-block-start: 3.3125rem;
}

@media (max-width: 1200px) {
  .about__column--hero {
    padding-inline-end: 0;
  }
}

@media (max-width: 1200px) {
  .about__column-title {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .about__column-title {
    text-align: center;
  }
}

.about__company--padding {
  padding-block-start: 5rem;
}
.about__company--padding .about__column-title {
  padding-block-end: 2.4375rem;
}
.about__company--padding .about__column-text {
  line-height: 150%;
  margin-block-end: 1.5625rem;
}

.history__pavel {
  padding-inline-start: 2.625rem;
  margin-block-start: 2rem;
}
@media (max-width: 1300px) {
  .history__pavel {
    margin-block-start: 1.25rem;
    padding-inline-start: 1.25rem;
  }
}

.history__pavel-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  line-height: 100%;
  font-weight: 800;
}

.history__pavel-text {
  font-size: 1rem;
  font-family: "Lato";
  font-weight: 500;
  line-height: 1.3125rem;
  margin-block-start: 0.8125rem;
  margin-inline-start: 0.0625rem;
  letter-spacing: 0.075rem;
}

.history__pavel-caption {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 0.9375rem;
  line-height: 100%;
  font-weight: 500;
  font-style: oblique;
  margin-block-start: 2.3125rem;
  gap: 0.75rem;
  letter-spacing: 0.00625rem;
  line-height: 1.3125rem;
  margin-inline-start: 0.1875rem;
}
@media (max-width: 1240px) {
  .history__pavel-caption {
    width: 100%;
  }
}
.history__pavel-item {
  margin-block-start: 4.375rem;
}

.history__pavel-link {
  text-decoration: none;
  border: solid 0.09375rem #337d5a;
  color: #337d5a;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  font-weight: 700;
  padding-block: 1.02188rem;
  padding-inline: 2.7625rem;
}

.history {
  padding-block-start: 6.25rem;
  display: flex;
  background-color: #fbfbfb;
  padding-inline-start: 19.75rem;
  padding-block-end: 5.625rem;
  margin-block-start: 4.25rem;
}
@media (max-width: 1919px) {
  .history {
    padding-inline: 6.25rem;
    justify-content: center;
  }
}
@media (max-width: 1240px) {
  .history {
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .history {
    padding-inline: 1.875rem;
  }
}

.history__img {
  width: 100%;
  max-width: 21.375rem;
  max-height: 30.8125rem;
}

.history__pavel--quotes {
  width: 1.625rem;
  height: 1.625rem;
  margin-block-start: -0.375rem;
}
.history__card {
  background-color: #337d5a;
  color: white;
  position: relative;
  max-width: 28.3125rem;
  margin-inline-start: 4.5625rem;
}
.history__card .gallery__card-img {
  bottom: -1.5625rem;
  right: -1.5625rem;
}
@media (max-width: 1300px) {
  .history__card {
    margin-inline-start: 1.25rem;
  }
}
@media (max-width: 1200px) {
  .history__card {
    margin-inline-start: 0;
  }
}

.history__card-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  line-height: 100%;
  padding-block-start: 2rem;
  padding-inline: 2.9375rem;
  margin-block-end: 2.125rem;
}

.history__card-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 100%;
  font-weight: 500;
  padding-inline: 2.9375rem;
  padding-inline-end: 1.9375rem;
  line-height: 1.375rem;
}
@media (max-width: 1200px) {
  .history__card-text {
    padding-inline: 0.9375rem;
  }
}

.info__company--about {
  padding-block-start: 4.875rem;
}

.gallery--company {
  background-color: #fbfbfb;
}

.gallery__company-title,
.gallery__company-text {
  text-align: center;
}

.gallery__company-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 2.8125rem;
  line-height: 100%;
  margin-block-start: 0.1875rem;
}

.gallery__company-text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 100%;
  margin-block-start: 1.625rem;
  margin-block-end: 4.25rem;
}

.gallery__card-text--company {
  max-width: 35rem;
}
@media (max-width: 1240px) {
  .gallery__card-text--company {
    max-width: 100%;
  }
}

.gallery__card-title--company {
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
}

.gallery__link-company {
  padding-inline: 2.1875rem;
}

.gallery__item-company {
  padding-block-end: 6.25rem;
}

.eco__company .play__eco {
  top: 34.5%;
}
@media (max-width: 600px) {
  .eco__company .play__eco {
    top: 36%;
  }
}
@media (max-width: 414px) {
  .eco__company .play__eco {
    top: 10%;
  }
}
.eco__company .eco__title {
  top: 50.6%;
}
@media (max-width: 600px) {
  .eco__company .eco__title {
    top: 20%;
  }
}
@media (max-width: 414px) {
  .eco__company .eco__title {
    top: 38%;
  }
}
.eco__company .eco__text {
  top: 59.4%;
}
@media (max-width: 1200px) {
  .eco__company .eco__text {
    top: 64%;
  }
}
@media (max-width: 414px) {
  .eco__company .eco__text {
    top: 60%;
    font-size: 0.5rem;
  }
}

.section__news--company {
  padding-block-start: 5.75rem;
}
.section__news--company .news__body-title {
  padding-block-end: 1.875rem;
}
.section__news--company .news__body-title {
  margin-inline-start: -0.1875rem;
}
@media (max-width: 1919px) {
  .section__news--company {
    margin-inline-start: 0;
  }
}

.gallery__down-copmany .meeting__play--galery {
  top: 43.8%;
}
.gallery__down-copmany {
  margin-inline-start: 0.1875rem;
}
@media (max-width: 1919px) {
  .gallery__down-copmany {
    margin-inline-start: 0;
  }
}

.news__all--company {
  margin-block-start: 0.125rem;
  margin-inline-start: 0.0625rem;
}
@media (max-width: 1919px) {
  .news__all--company {
    margin: 0;
  }
}
.news__all--company .news__all-link {
  padding-inline: 1.625rem;
}

.location__body--company {
  top: 8.7%;
}
.location__body--company p {
  margin: 0;
}

@media (max-width: 1240px) {
  .company__top-img--first {
    width: 100%;
    max-width: 100% !important;
  }
}

@media (max-width: 768px) {
  .meeting__galery--company .meeting__play--galery {
    top: 25%;
    width: 2rem;
  }
}
.meeting__galery--company .meeting__text--galery {
  padding-inline: 0.625rem;
}
@media (max-width: 768px) {
  .meeting__galery--company .meeting__text--galery {
    font-size: 0.5rem;
    top: 60%;
    line-height: 100%;
  }
}
@media (max-width: 768px) {
  .meeting__galery--company .meeting__title--galery {
    top: 45%;
    font-size: 0.75rem;
  }
}

.footer__company {
  padding-block-start: 4.6875rem;
}
@media (max-width: 768px) {
  .footer__company {
    padding-block-start: 2.5rem;
  }
}

.map__company {
  padding-block-start: 7.25rem;
}
@media (max-width: 768px) {
  .map__company {
    padding-block-start: 2.5rem;
  }
}
/*# sourceMappingURL=companyPage.css.map */
