@use "../variables/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  p {
    margin: 0;
  }
}

.header__profile {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-inline-start: 255px;
  padding-inline-end: 221px;
  @media (max-width: 1500px) {
    gap: 50px;
  }
  @media (max-width: 992.99px) {
    padding-inline: 30px;
  }
  @media (max-width: 600px) {
    gap: 6px;
    padding-inline-start: 12px;
    padding-inline-end: 0px;
  }
  @media (max-width: 414px) {
    justify-content: space-between;
  }
}
.dropdown-item {
  cursor: pointer;
}
.header__profile {
  display: flex;
  align-items: center;
  background-color: $backgroundColor;
}
.header__user,
.header__user-login,
.header__language {
  display: flex;
  align-items: center;
  @include font($Raleway13);
}
.header__user-login {
  gap: 6px;
}
.header__user {
  gap: 28px;
  max-width: 330px;
  width: 100%;
}
.header__count {
  margin-inline-start: -20px;
  width: 100%;
  max-width: 517px;
  @media (max-width: 600px) {
    display: none;
  }
}
.header__count,
.header__social {
  flex: 1 1;
  @media (max-width: 1500px) {
    flex: inherit;
  }
}
.header__user {
  margin-block-start: 1px;
  margin-inline-end: 2px;
  @media (max-width: 600px) {
    display: none;
  }
}

.header__count-text {
  margin: 0;
  padding-inline-end: 2px;
  @include font($Montserrat14);
  color: $primaryColor;
  letter-spacing: -0.2px;
  @media (max-width: 1500px) {
    text-align: center;
  }
}
.header__language {
  display: flex;
  position: relative;
  max-width: 30px;
  width: 100%;
  margin-inline-start: 22px;
  @media (max-width: 1300px) {
    margin-inline-start: 0px;
  }
  @media (max-width: 600px) {
    width: 54px !important;
    max-width: 54px !important;
    height: 38px;
    margin-block-start: 0.5px;
    margin-inline-end: 1px;

    &:hover {
      border: 1px solid $secondaryColor;
    }
  }
}
.drop-arrow {
  position: absolute;
  right: 0;
  bottom: 2px;
  @media (max-width: 600px) {
    bottom: 15px;
    right: 11px;
  }
}
.btn-secondary {
  @media (max-width: 600px) {
    padding-inline-start: 15px !important;
  }
  @media (max-width: 357px) {
    padding-inline-start: 10px !important;
  }
}

.header__social {
  display: flex;
  gap: 18px;
  align-items: center;
  padding-block-start: 10px;
  padding-block-end: 12px;
  margin-inline-start: 60px;
  @media (max-width: 1500px) {
    margin-inline-start: 0px;
    width: 200px;
  }
  @media (max-width: 600px) {
    display: none;
  }
}

.header__social-faceboock,
.header__social-instagram {
  width: 13px;
  height: 13px;
}
.header__social-youtube {
  width: 16px;
  height: 16px;
  margin-inline-start: 2px;
}

.header__user-login,
.header__user-reg,
.header__language {
  position: relative;
  cursor: pointer;
}
.header__user-login:hover::after,
.header__user-reg:hover::after,
.header__language:hover::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  background-color: $secondaryColor;
  width: 100%;
  height: 2px;
}
.header__language::after {
  @media (max-width: 600px) {
    content: "";
    position: static;
    opacity: 0;
  }
}
/// HEADER CONTACT
.header__contacts {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 315px;
  padding-inline-end: 320px;
  @media (max-width: 1500px) {
    padding-inline: 100px;
    justify-content: center;
    gap: 50px;
  }
  @media (max-width: 992.99px) {
    padding-inline: 30px;
  }
  @media (max-width: 600px) {
    padding-inline: 12px;
    justify-content: space-between;
  }
  @media (max-width: 350px) {
    gap: 30px;
  }
}
.header__logo {
  display: flex;
  flex: 1;
  gap: 9px;
  align-items: center;
  padding-block-start: 17px;
  padding-block-end: 14px;
  margin-block-start: 1px;
  margin-inline-start: -1px;
  @media (max-width: 1500px) {
    flex: inherit;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    padding: 0;
    padding-inline-start: 67px;
    padding-block-start: 10px;
    gap: 5px;
  }
}
.header__logo-img {
  width: 54px;
  height: 53px;
  @media (max-width: 600px) {
    width: 29px;
    height: 28px;
  }
}
.basket__link {
  cursor: pointer;
}
.header__logo-text {
  @include font($Raleway15);
  color: #1a2f3f;
  max-width: 155px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0.4px;
  margin: 0;
  @media (max-width: 600px) {
    text-align: center;
    max-width: 100px;
    @include font($Raleway11);
    line-height: 120%;
  }
}

.social__background {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  margin-inline-start: -10px;
  margin-block-start: -7px;
  flex: 1;
  margin-inline-start: -15px;
  @media (max-width: 1500px) {
    flex: inherit;
  }
}
.social__background--margin {
  margin-inline-start: -1px;
}

.social__background--background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: $primaryColor;
  border-radius: 50px;
  width: 31px;
  height: 31px;
  @media (max-width: 1550px) {
    display: none;
  }
}

.social__background-viber {
  width: 17px;
  height: 17px;
}
.social__background-telegram {
  width: 14px;
  height: 14px;
}
.social__background-whatsaap {
  width: 15px;
  height: 15px;
}

.social__contact {
  display: flex;
  flex-direction: column;
  @include font($Montserrat13);
  row-gap: 3px;
  margin-inline-start: 20px;
  margin-block-start: 5px;
  letter-spacing: 0.15px;
  @media (max-width: 1600px) {
    margin-inline-start: 0px;
  }
  @media (max-width: 1100px) {
    display: none;
  }
}
.social__contact-number {
  line-height: 120%;
  letter-spacing: -0.3px;
}
.social__contact-number span {
  color: $primaryColor;
}
.order__call {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-inline-start: 2px;
  width: 100%;
  max-width: 393px;
  white-space: nowrap;
  @media (max-width: 600px) {
    max-width: 50px;
    padding-block-start: 5px;
    padding-inline-end: 5px;
  }
}
.order__call-link {
  @include font($Raleway13);
  font-weight: 600;
  padding-block: 14px;
  padding-inline: 23px;
  background-color: $primaryColor;
  letter-spacing: -0.4px;
  text-decoration: none;
  color: white;
  @media (max-width: 600px) {
    display: none;
  }
}
.order__call-text {
  @include font($Montserrat12);
  max-width: 178px;
  color: $greyColor;
  letter-spacing: 0.3px;
  line-height: 125%;
  white-space: wrap;
  margin: 0;
  @media (max-width: 992.99px) {
    visibility: hidden;
  }
  @media (max-width: 600px) {
    display: none;
  }
}

.order__call-basket {
  margin-block-start: -4px;
  margin-inline-start: 12px;
  @media (max-width: 600px) {
    margin-inline-start: 5px;
    width: 24px;
    height: 24px;
  }
}
.basket__count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -5px;
  top: 27px;
  @include font($Raleway12);
  color: white;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  background-color: $secondaryColor;
  @media (max-width: 600px) {
    top: 24px;
    right: 15px;
  }
  @media (max-width: 360px) {
    top: 24px;
    right: -2px;
  }
  @media (max-width: 350px) {
    top: 24px;
    right: 15px;
  }
}

.header__links {
  position: relative;
  padding-inline-end: 392px;
  padding-inline-start: 361px;
  padding-block-start: 24px;
  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    top: -1px;
    left: 0;
    background-color: #0000000f;
    @media (max-width: 600px) {
      top: 8px;
    }
  }
  @media (max-width: 1900px) {
    padding-inline: 100px;
    width: 100%;
  }
  @media (max-width: 1600px) {
    padding-inline: 50px;
  }
  @media (max-width: 768px) {
    padding-inline: 30px;
  }
  @media (max-width: 600px) {
    padding-block-start: 0;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @media (max-width: 1600px) {
  }
}
.nav__list {
  width: 100%;
  margin: 0;
  @media (max-width: 768px) {
    padding: 0;
  }
  @media (max-width: 600px) {
    display: none;
  }
}
.nav__item {
  display: flex;
  gap: 70px;
  align-items: center;
  width: 100%;
  @media (max-width: 1900px) {
    gap: 50px;
    justify-content: center;
  }
  @media (max-width: 1600px) {
    justify-content: flex-start;
  }
  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
  @media (max-width: 768px) {
    place-items: start;
    gap: 20px;
  }
}
.nav__link {
  white-space: nowrap;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  @include font($Raleway15);
  font-weight: 500;
  color: black;
  &:hover {
    color: $secondaryColor;
  }
  @media (max-width: 768px) {
    font-size: 12px;
  }
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  background-color: $secondaryColor;
  width: 100%;
  height: 2px;
}
.nav__delivery {
  width: 100%;
  max-width: 138px;
  letter-spacing: 0.2px;
  margin-inline-start: 0px;
}
.nav__about {
  margin-inline-start: -1px;
}
.nav__clients {
  letter-spacing: 0.15px;
}
.nav__news {
  margin-inline-start: 2px;
  letter-spacing: 0.2px;
}
.nav__contacts {
  margin-inline-start: -3px;
}
.dropdown-item {
  padding-block: 8px !important;
}

.video {
  width: 100%;
  height: 600px;
  max-width: 1920px;
}

.btn-secondary {
  @media (max-width: 600px) {
    padding-inline-end: 10px;
  }
}
.header__number--mob {
  display: none;
  @media (max-width: 600px) {
    display: flex;
    align-items: center;
  }
}
.header__img--mob {
  width: 10px;
  height: 10px;
}
.header__call--mob {
  cursor: pointer;
  position: relative;
  padding-inline-start: 24px;
  letter-spacing: 0.3px;
  white-space: nowrap;
  @include font($Raleway12);
  font-weight: 600;
  padding-inline-end: 33px;

  &:hover::before {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 25px;
    background-color: $primaryColor;
    width: 102px;
    height: 1px;
  }
  &:hover {
    color: $primaryColor;
  }
  @media (max-width: 357px) {
    padding-inline: 10px;
  }
}
.header__text--mob {
  padding-block-start: 2px;
  white-space: nowrap;
  padding-inline-start: 5px;
  @include font($Montserrat12);
  font-weight: 500;
  span {
    font-weight: 600;
    color: $primaryColor;
  }
}

.burger {
  width: 25px;
  height: 40px;
  position: relative;
  display: none;
  top: 29px;
  @media (max-width: 600px) {
    display: flex;
  }
  &::before {
    position: absolute;
    content: "";
    top: 14px;
    left: 0;
    width: 13px;
    height: 2.6px;
    background-color: black;
    border-bottom-right-radius: 5px;
  }
}

.burger span::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 19px;
  height: 2.6px;
  background-color: black;
}
.burger span::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 0;
  width: 19px;
  height: 2.6px;
  background-color: black;
}

.menu__mob {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  background-color: white;
  transition: 0.3s ease-in-out;
  opacity: 0;

  &.open {
    visibility: visible;
    z-index: 1000;
    opacity: 1;
  }
}
.mob__header {
  display: flex;
  justify-content: space-between;
  padding-block-start: 15px;
  padding-inline: 11px;
  padding-block-end: 9px;
}

.mob__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.mob__logo-img {
  margin-block-start: -1px;
  width: 34px;
  height: 33px;
}
.mob__close {
  width: 16px;
  height: 16px;
  margin-block-start: 6px;
}

.mob__logo-text {
  @include font($Raleway12);
  max-width: 100px;
  letter-spacing: 0.2px;
  line-height: 15px;
}
.mob__login {
  background-color: #fafafa;
  @include font($Raleway14);
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-inline: 10px;
  padding-block: 14px;
}
.login__img {
  width: 13px;
  height: 13px;
}
.mob__login-sign {
  position: relative;
  padding-inline-start: 7px;
}
.mob__login-signup {
  position: relative;
  padding-inline-start: 27px;
  letter-spacing: 0.2px;
  flex: 1;
}
.login__social {
  display: flex;
  align-items: center;
  gap: 21px;
}
.login__social-img:nth-child(1) {
  width: 15px;
  height: 15px;
}
.login__social-img:nth-child(2) {
  width: 15px;
  height: 15px;
}
.login__social-img:nth-child(3) {
  width: 18px;
  height: 18px;
}
.mob__login-sign:hover::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 5px;
  height: 1px;
  width: 100%;
  background-color: $secondaryColor;
}
.mob__login-signup:hover::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 26px;
  height: 1px;
  width: 46%;
  background-color: $secondaryColor;
}

.mob__items {
  padding-block-start: 0px;
}
.mob__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.mob__item {
  position: relative;
  padding-block: 11.5px;
  &:hover {
    background-color: $primaryColor;
    .mob__link {
      color: white;
    }
  }
}

.mob__item::after {
  @media (max-width: 600px) {
    @media (max-width: 600px) {
      position: absolute;
      content: "";
      bottom: -1px;
      background-color: #0000000a;
      width: 94%;
      height: 1px;
      left: 12px;
    }
  }
}
.mob__link {
  text-decoration: none;
  color: black;
  @include font($Raleway15);
  font-weight: 500;
  padding-inline: 12px;
  letter-spacing: 0.3px;
}
.mob__item--shop {
  padding-block-start: 12px;
  padding-block-end: 10px;
}

.mob__count {
  display: none;
  @include font($Montserrat13);
  font-weight: 600;
  color: $primaryColor;
  letter-spacing: -0.27px;
  padding-inline-start: 4px;
  padding-block-start: 19px;

  @media (max-width: 600px) {
    display: flex;
    justify-content: center;
  }
}
