.map {
  display: flex;
  padding-block-start: 7.3125rem;
  justify-content: center;
  padding-inline: 6.25rem;
}
.map p {
  margin: 0;
}
@media (max-width: 992.99px) {
  .map {
    padding-inline: 1.875rem;
    padding-block-start: 6.25rem;
  }
}

.map__body {
  width: 100%;
  max-width: 80.8125rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992.99px) {
  .map__body {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}

.map__title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 2.8125rem;
  line-height: 100%;
}
@media (max-width: 992.99px) {
  .map__title {
    text-align: center;
  }
}

.map__number {
  display: flex;
  align-items: center;
  padding-block-start: 4rem;
  margin-inline-start: 0.125rem;
}
@media (max-width: 992.99px) {
  .map__number {
    flex-direction: column;
    gap: 0.9375rem;
  }
}

.map__number-number {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 100%;
  font-weight: 500;
  padding-inline-start: 1rem;
  line-height: 1.5625rem;
}
@media (max-width: 992.99px) {
  .map__number-number {
    padding-inline-start: 0;
  }
}

.map__social-background {
  display: flex;
  gap: 0.625rem;
  padding-inline-start: 3.0625rem;
}
@media (max-width: 992.99px) {
  .map__social-background {
    padding-inline-start: 0;
  }
}

.map__social-img {
  background-color: #337d5a;
  padding: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3.125rem;
}

.map__email {
  display: flex;
  align-items: center;
  padding-block-start: 2.6875rem;
  margin-inline-start: 0.125rem;
}
@media (max-width: 992.99px) {
  .map__email {
    justify-content: center;
  }
}

.map__email-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 100%;
  font-weight: 500;
  padding-inline-start: 0.9375rem;
}

.map__office {
  display: flex;
  align-items: start;
  padding-block-start: 3.1875rem;
  margin-inline-start: 0.125rem;
}
@media (max-width: 992.99px) {
  .map__office {
    padding-block-start: 1.25rem;
    justify-content: center;
  }
}

.office__title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.0625rem;
  line-height: 100%;
  padding-inline-start: 0.875rem;
}

.office__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 100%;
  font-weight: 500;
  max-width: 11.25rem;
  line-height: 1.3125rem;
  padding-inline-start: 2rem;
  padding-block-start: 0.6875rem;
}
@media (max-width: 992.99px) {
  .office__text {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 360px) {
  .office__text {
    padding-inline-start: 0;
  }
}

.map__tree {
  display: flex;
  padding-block-start: 2.4375rem;
  margin-inline-start: 0.125rem;
}
@media (max-width: 992.99px) {
  .map__tree {
    justify-content: center;
  }
}

.tree__img {
  width: 1rem;
  height: 1.16563rem;
}

.tree__title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.0625rem;
  line-height: 100%;
  font-weight: 800;
  padding-inline-start: 0.9375rem;
}

.tree__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 100%;
  font-weight: 500;
  line-height: 1.3125rem;
  padding-inline-start: 2rem;
  padding-block-start: 0.625rem;
}
@media (max-width: 992.99px) {
  .tree__text {
    text-align: center;
  }
}

.google__map {
  margin-block-start: -1.0625rem;
}
@media (max-width: 1300px) {
  .google__map {
    width: 28.125rem;
  }
}
@media (max-width: 600px) {
  .google__map {
    width: 18.75rem;
  }
}
@media (max-width: 414px) {
  .google__map {
    width: 17.5rem;
  }
}

.map__social-img--telegram {
  margin-inline-start: -0.125rem;
}

.map__social-img--whatsapp {
  margin-inline-start: 0.125rem;
}
/*# sourceMappingURL=map.css.map */
