@use "../variables/variables" as *;

.about__column-swiper {
  position: relative;
  max-width: 720px;
  @media (max-width: 1400px) {
    max-width: 500px;
  }
}

.about__column {
}
.about__company {
  display: flex;
  padding-inline-start: 315px;
  padding-inline-end: 305px;
  padding-block-start: 170px;
  align-items: start;
  @media (max-width: 1800px) {
    padding-inline: 100px;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 100px;
  }
  @media (max-width: 992.99px) {
    padding-inline: 30px;
  }
  @media (max-width: 600px) {
    padding-block-start: 70px;
  }
  // @media (max-width: 600px) {
  //   display: none;
  // }
}
.about__column--title {
  padding-block-start: 51px;
  padding-inline-end: 140px;
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0;
  }
}
.about__column-title {
  @include font($Raleway45);
  padding-block-end: 36px;
  white-space: nowrap;
  @media (max-width: 768px) {
    font-size: 24px;
  }
}
.about__column-text {
  @include font($Raleway16);
  font-weight: 500;
  line-height: 165%;
  max-width: 450px;
  padding-block-end: 7px;
  span {
    font-weight: 600;
    color: $primaryColor;
    letter-spacing: -0.4px;
  }
  &:last-of-type {
    padding-block-end: 42px;
  }
  @media (max-width: 768px) {
    font-size: 14px;
    text-align: center;
  }
}
.about__column-link {
  text-decoration: none;
  color: $primaryColor;
  border: 1.5px solid $primaryColor;
  padding-block: 17px;
  padding-inline: 43px;
  letter-spacing: 0.3px;
  @include font($Raleway14);
}
.about__arrow {
}
.about-wrapper {
  max-width: 700px;
  @media (max-width: 600px) {
    max-width: 400px;
  }
  @media (max-width: 414px) {
    max-width: 300px;
  }
}

.about__arrow-left {
  bottom: 5px !important;
  top: inherit !important;
  left: 15px !important;
  opacity: 0.2;
}
.about__arrow-right {
  bottom: 6px !important;
  top: inherit !important;
  left: 82px !important;
  opacity: 1;
}
.background__about-arrow {
  background-color: $primaryColor;
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 141px;
  height: 56px;
  z-index: 50;
}

.about__player {
  position: absolute;
  top: 233px;
  left: 323px;
  @media (max-width: 1400px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  @media (max-width: 414px) {
    top: 30%;
    left: 50%;
    transform: translate(-50%);
  }
}
.about__img {
}

