.hero {
  position: relative;
  -webkit-padding-before: 17px;
          padding-block-start: 17px;
  height: 100%;
}
@media (max-width: 600px) {
  .hero {
    -webkit-padding-before: 11px;
            padding-block-start: 11px;
    min-height: 417px;
  }
}

.hero__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992.99px) {
  .hero__video {
    height: 450px;
  }
}
@media (max-width: 600px) {
  .hero__video {
    height: 417px;
  }
}

.play__img,
.stop__img {
  position: absolute;
  cursor: pointer;
  top: 417px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 61px;
  z-index: 15;
  height: 61px;
}
@media (max-width: 1600px) {
  .play__img,
  .stop__img {
    top: inherit;
    bottom: 50px;
  }
}
@media (max-width: 992.99px) {
  .play__img,
  .stop__img {
    bottom: 180px;
  }
}
@media (max-width: 800px) {
  .play__img,
  .stop__img {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 600px) {
  .play__img,
  .stop__img {
    top: 258px;
  }
}

.hero__tittle {
  position: absolute;
  top: 218px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: white;
  white-space: nowrap;
  z-index: 10;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 62px;
  line-height: 100%;
  letter-spacing: 0.2px;
  line-height: 100%;
}
@media (max-width: 1600px) {
  .hero__tittle {
    font-size: 48px;
    top: 100px;
  }
}
@media (max-width: 1200px) {
  .hero__tittle {
    top: 50px;
  }
}
@media (max-width: 800px) {
  .hero__tittle {
    font-size: 28px;
  }
}
@media (max-width: 414px) {
  .hero__tittle {
    top: 125px;
    left: 182px;
  }
}
@media (max-width: 350px) {
  .hero__tittle {
    top: 125px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}
.hero__tittle.hidden {
  display: none;
}

.hero__text {
  position: absolute;
  top: 315px;
  left: 49.8%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: white;
  text-align: center;
  max-width: 550px;
  z-index: 15;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: -0.3px;
  line-height: 130%;
}
@media (max-width: 1600px) {
  .hero__text {
    font-size: 20px;
    top: 200px;
  }
}
@media (max-width: 1200px) {
  .hero__text {
    top: 150px;
  }
}
@media (max-width: 992.99px) {
  .hero__text {
    top: 110px;
  }
}
@media (max-width: 800px) {
  .hero__text {
    font-size: 17px;
  }
}
@media (max-width: 600px) {
  .hero__text {
    top: 169px;
    width: 100%;
    left: 49.9%;
    max-width: 250px;
    line-height: 135%;
  }
}
.hero__text.hidden {
  display: none;
}

.hero__video-wrapper {
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 1920px;
  height: 600px;
}
.hero__video-wrapper.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 600px) {
  .hero__video-wrapper {
    height: 417px;
  }
}

.hero__img-wrapper {
  max-height: 600px;
  min-height: 472px;
}
@media (max-width: 600px) {
  .hero__img-wrapper {
    max-height: 417px;
    min-height: 417px;
  }
}

.hero__img-wrapper--img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 600px;
}
.hero__img-wrapper--img.hidden {
  display: none;
}

.play__img.hidden {
  display: none;
}

.overlay__clients-img {
  height: 600px;
}
.overlay__clients-img.hidden {
  display: none;
}
@media (max-width: 600px) {
  .overlay__clients-img {
    height: 417px;
  }
}

.stop__img {
  display: none;
}
.stop__img.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stop__img {
  background-color: rgba(255, 255, 255, 0.352);
  padding: 10px;
  border-radius: 50px;
  width: 80px;
  height: 80px;
}

.about__column-swiper {
  -webkit-margin-start: 56px;
          margin-inline-start: 56px;
}
@media (max-width: 1200px) {
  .about__column-swiper {
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
  }
}

.about__img-wrapper--img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 472px;
}
.about__img-wrapper--img.hidden {
  display: none;
}
@media (max-width: 1400px) {
  .about__img-wrapper--img {
    height: 337px;
  }
}
@media (max-width: 600px) {
  .about__img-wrapper--img {
    height: 269px;
  }
}
@media (max-width: 414px) {
  .about__img-wrapper--img {
    height: 202px;
  }
}

.about__player {
  cursor: pointer;
}
.about__player.hidden {
  display: none;
}

.background__about--none.hidden {
  display: none;
}

.hero__img-wrapper--small {
  position: relative;
  width: 700px;
  height: 472px;
}
@media (max-width: 1200px) {
  .hero__img-wrapper--small {
    min-height: 337px;
    max-height: 337px;
  }
}
@media (max-width: 600px) {
  .hero__img-wrapper--small {
    min-height: 269px;
    max-height: 269px;
  }
}
@media (max-width: 414px) {
  .hero__img-wrapper--small {
    min-height: 202px;
    max-height: 202px;
  }
}

.swiper-slide:hover .about__stop {
  opacity: 1;
}

.about__video-wrapper {
  width: 100%;
  height: 100%;
}

.stop__img {
  opacity: 0;
}

.hero:hover .stop__img {
  opacity: 1;
}

.about__stop {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 20px;
  height: 20px;
  display: none;
  background-color: rgba(255, 255, 255, 0.352);
  padding: 10px;
  border-radius: 50px;
  width: 80px;
  height: 80px;
}
.about__stop.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}
@media (max-width: 768px) {
  .about__stop {
    width: 40px;
    height: 40px;
  }
}

.about__column-text {
  min-width: 500px;
}
@media (max-width: 1200px) {
  .about__column-text {
    min-width: 300px;
  }
}
@media (max-width: 600px) {
  .about__column-text {
    min-width: 200px;
  }
}

.about__column--hero {
  -webkit-padding-before: 51px;
          padding-block-start: 51px;
  -webkit-padding-end: 32px;
          padding-inline-end: 32px;
}
@media (max-width: 1200px) {
  .about__column--hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}/*# sourceMappingURL=hero_section.css.map */