@use "../variables/variables" as *;

.map {
  display: flex;
  padding-block-start: 207px;
  justify-content: center;
  padding-inline: 100px;
  p {
    margin: 0;
  }
  @media (max-width: 992.99px) {
    padding-inline: 30px;
    padding-block-start: 100px;
  }

  // @media (max-width: 600px) {
  //   display: none;
  // }
}

.map__body {
  width: 100%;
  max-width: 1293px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 992.99px) {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
}
.map__column {
}
.map__column--contact {
  @media (max-width: 1300px) {
  }
}
.map__title {
  @include font($Raleway45);
  @media (max-width: 992.99px) {
    text-align: center;
  }
}
.map__number {
  display: flex;
  align-items: center;
  padding-block-start: 64px;
  margin-inline-start: 2px;
  @media (max-width: 992.99px) {
    flex-direction: column;
    gap: 15px;
  }
}
.map__number-img {
}
.number__body {
}
.map__number-number {
  @include font($Montserrat14);
  font-weight: 500;
  padding-inline-start: 16px;
  line-height: 25px;
  @media (max-width: 992.99px) {
    padding-inline-start: 0px;
  }
}
.map__social {
}
.map__social-background {
  display: flex;
  gap: 10px;
  padding-inline-start: 49px;
  @media (max-width: 992.99px) {
    padding-inline-start: 0px;
  }
}
.map__social-img {
  background-color: $primaryColor;
  padding: 8px;
  object-fit: cover;
  border-radius: 50px;
}
.map__email {
  display: flex;
  align-items: center;
  padding-block-start: 43px;
  margin-inline-start: 2px;
  @media (max-width: 992.99px) {
    justify-content: center;
  }
}
.map__email-img {
}
.map__email-text {
  @include font($Montserrat14);
  font-weight: 500;
  padding-inline-start: 15px;
}
.map__office {
  display: flex;
  align-items: start;
  padding-block-start: 51px;
  margin-inline-start: 2px;
  @media (max-width: 992.99px) {
    padding-block-start: 20px;
    justify-content: center;
  }
}
.office__img {
}
.office__title {
  @include font($Raleway17);
  padding-inline-start: 14px;
}
.office__text {
  @include font($Montserrat14);
  font-weight: 500;
  max-width: 180px;
  line-height: 21px;
  padding-inline-start: 32px;
  padding-block-start: 11px;
  @media (max-width: 992.99px) {
    max-width: 100%;
    text-align: center;
  }
  @media (max-width: 360px) {
    padding-inline-start: 0px;
  }
}
.map__tree {
  display: flex;
  padding-block-start: 39px;
  margin-inline-start: 2px;
  @media (max-width: 992.99px) {
    justify-content: center;
  }
}
.tree__img {
  width: 16px;
  height: 18.65px;
}
.tree__title {
  @include font($Raleway17);
  font-weight: 800;
  padding-inline-start: 15px;
}
.tree__text {
  @include font($Montserrat14);
  font-weight: 500;
  line-height: 21px;
  padding-inline-start: 32px;
  padding-block-start: 10px;

  @media (max-width: 992.99px) {
    text-align: center;
  }
}
.map__column--map {
}

.google__map {
  margin-block-start: -17px;
  @media (max-width: 1300px) {
    width: 450px;
  }
  @media (max-width: 600px) {
    width: 300px;
  }
  @media (max-width: 414px) {
    width: 280px;
  }
}
