<div class="footer__header">
  <div class="footer__logo">
    <img src="img/footer/logoFooter.webp" alt="footerLogo" class="footer__logo-img" />
    <h2 class="footer__logo-tittle">ОРЕХ ПРИЧЕРНОМОРЬЯ</h2>
  </div>
  <div class="footer__nav">
    <ul class="footer__list">
      <li class="footer__item">
        <a href="" class="footer__link">Магазин</a>
        <a href="clients.html" class="footer__link footer__link--client">Корпоративным клиентам</a>
        <a href="delivery.html" class="footer__link footer__link--delivery">Оплата и доставка</a>
        <a href="" class="footer__link footer__link--about">О производстве</a>
        <a href="news.html" class="footer__link footer__link--news">Новости и статьи</a>
        <a href="" class="footer__link footer__link--gallery">Галерея</a>
      </li>
    </ul>
  </div>
</div>
<div class="footer__footer">
  <p class="footer__footer-text">
    Разработано <span class="avada">AVADA</span> <span class="media">MEDIA</span>
  </p>
  <p class="footer__footer-copyright">Copyright © 2019. Все права защищены</p>
  <div class="footer__footer-social">
    <img src="img/footer/facebook.webp" alt="" class="footer__social-img" />
    <img src="img/footer/instagram.webp" alt="" class="footer__social-img footer__social-img--instagram" />
    <img src="img/footer/utube.webp" alt="" class="footer__social-img footer__social-img--utube" />
  </div>
</div>
