
  <div class="map__body">
    <div class="map__column map__column--contact">
      <h2 class="map__title">Контакты</h2>
      <div class="map__number">
        <img src="img/map/phone.webp" alt="" class="map__number-img" />
        <div class="number__body">
          <p class="map__number-number">+38 (095) 711 11 11</p>
          <p class="map__number-number">+38 (095) 711 11 11</p>
        </div>
        <div class="map__social">
          <div class="map__social-background">
            <img src="img/map/viber.webp" alt="viber" class="map__social-img map__social-img--viber" />
            <img src="img/map/telegram.webp" alt="telegram" class="map__social-img map__social-img--telegram" />
            <img src="img/map/whatsapp.webp" alt="whatsapp" class="map__social-img map__social-img--whatsapp" />
          </div>
        </div>
      </div>

      <div class="map__email">
        <img src="img/map/email.webp" alt="tree" class="map__email-img" />
        <p class="map__email-text">nuts@nbsc.com.ua</p>
      </div>
      <div class="map__office">
        <img src="img/map/house.webp" alt="" class="office__img" />
        <h3 class="office__title">Офис и отдел продаж</h3>
      </div>
      <p class="office__text">
        Украина, г. Одесса, <br />
        ул. Космонавтов, 32
      </p>
      <div class="map__tree">
        <img src="img/map/tree.webp" alt="" class="tree__img" />
        <h3 class="tree__title">Производство</h3>
      </div>
      <p class="tree__text">
        Украина, Одесская обл, <br />
        с. Яськи, ул. Центральная, 232
      </p>
    </div>

    <div class="map__column map__column--map">
      <iframe
        class="google__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.086324064974!2d-122.41941568468195!3d37.77492977975925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858064bfb8f2d1%3A0xa6b3c3a2d5f6e9ab!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2s!4v1696789368571!5m2!1sen!2s"
        width="739"
        height="518"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>

